<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.timeseed">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Timeseed"
        tools:targetApi="31">
        <activity
            android:name=".ShopActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".latter.FlowerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".latter.ReadFlowerLatterActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".latter.ReadLatterActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".freinds.FriendRiquestActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".latter.LatterActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".freinds.FriendAddActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".myInfo.MyInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".store.StoreActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".freinds.FriendsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".auth.JoinActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".auth.IntroActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">
        </activity>


    </application>

</manifest>